[Unit]
Description=Sequencer
After=network-online.target

[Service]
SyslogIdentifier=sequencer
ExecStart=/usr/bin/python3 /vagrant/sequencer/server.py

[Install]
WantedBy=multi-user.target