[Unit]
Description=Shuffler
After=network-online.target

[Service]
SyslogIdentifier=shuffler
ExecStart=/usr/bin/python3 /vagrant/shuffler/server.py

[Install]
WantedBy=multi-user.target