[Unit]
Description=Bank server
After=network-online.target

[Service]
SyslogIdentifier=bank-server
ExecStart=/usr/bin/python /vagrant/bank_server/server.py

[Install]
WantedBy=multi-user.target